.box{
    float:left;
    margin-right:20px;
    vertical-align: center;
}
.clear{
    clear:both;
}

.iframe{
  width: 200px;
}

body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
/*div,
body,
html {
    height: 100%;
    width: 100%;
}
body{
    display: table;
} */
