.box{
    float:left;
    margin-right:20px;
    vertical-align: center;
}
.clear{
    clear:both;
}

.iframe{
  width: 200px;
}
/*div,
body,
html {
    height: 100%;
    width: 100%;
}
body{
    display: table;
} */
