#logo {
    background-image:url(http://d13pix9kaak6wt.cloudfront.net/background/users/e/t/h/ethanchewy_1409787589_71.jpg);
    display:block;
    height:100px;
    text-indent:-9999px;
    width:460px;
}
