/* get xip file and fix background to youtube video
body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.jumbotron {
  background-image: url('http://lh3.googleusercontent.com/-X77agFBMaio/VBZTj3ctcYI/AAAAAAAAAHE/kzWzGUBiFM0/w1134-h709-no/WallPaperAbout.jpg'); 
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   font-style: italic;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

h2 span.spacer {
   padding:0 5px;
}

/* old stuff */


/* testing */
.icon-close2 {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}
